appdirs==1.4.3
appinst==2.1.5
apptools==4.4.0
atom==0.3.10
attrs==15.2.0
backports-abc==0.4
backports-abc-remove==0.4
backports.abc==0.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bleach==1.5.0
boto==2.40.0
Canopy==1.7.4.3348
canopy-dashboard==0.7.19
canopy-packman-plugin==0.1.19
canopy-platform==0.9.12
CanopyDebugger==0.1.2.dev0
casuarius==1.1
catalyst==1.0.9
certifi==14.5.14
chaco==4.6.0
chardet==2.3.0
click==6.6
codetools==4.2.0
colorama==0.3.7
colorlog==2.10.0
configobj==5.0.6
configparser==3.5.0
cycler==0.10.0
decorator==4.0.9
dicttoxml==1.7.4
distribute-remove==1.0.0
docutils==0.12
ecdsa==0.13
enable==4.6.0
enaml==0.9.8
enapp==1.0.0
enclosure==0.6.0
encore==0.7.0
enstaller==4.8.12
entrypoints==0.2.2
enum34==1.1.6
envisage==4.6.0
esky==0.9.8
Examples==7.3
faulthandler==2.4
feedparser==5.2.1
flake8==3.3.0
flake8-docstrings==1.1.0
flake8-polyfill==1.0.1
functools32==3.2.3.post2
futures==3.0.3
grits-client==0.1
h5py==2.7.0
hatcher==0.10.1
html5lib==0.999
humanize==0.5.1
idle==2.7.3
intel-runtime==14.0.6.241
ipykernel==4.5.2
ipython==4.0.0
ipython-genutils==0.1.0
ipython4==5.3.0
ipywidgets==6.0.0
jigna==0.9.9
Jinja2==2.9.5
jsonpickle==0.4.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0
kernmagic==0.3.0
keyring==4.0
kiwisolver==0.1.3
libopenjpeg==2.1.0
libpng==1.6.12
libsodium==1.0.3
lxml==3.7.3
MarkupSafe==0.23
matplotlib==1.4.3
mccabe==0.6.1
memory-profiler==0.43
mistune==0.7.4
MKL==2017.0.1
mkl-service==1.0
mpmath==0.19
nbconvert==5.1.1
nbformat==4.3.0
nose==1.3.7
notebook==5.7.2
numpy==1.11.3
okonomiyaki==0.15.0
packaging==16.8
pandas==0.19.2
pandocfilters==1.4.1
path.py==8.1.1
pathlib2==2.1.0
pep8==1.7.0
pexpect==2.4
pickleshare==0.7.4
PIL-remove==1.0.0
pillow==4.0.0
plotly==1.12.10
ply==3.8
prompt-toolkit==1.0.13
psutil==3.3.0
pyasn1==0.1.9
pyaudio==0.2.4
PyCapture2==2.11.121
pycodestyle==2.3.1
pycrypto==2.6.1
pydocstyle==2.0.0
pyface==5.1.0
pyflakes==1.5.0
pyglet==1.1.4
Pygments==2.1.3
pyparsing==2.0.3
PyQt==4.11.4
pyreadline==2.1
pyserial==2.7
PySide==1.2.2
python-dateutil==2.4.2
pytz==2014.9
pywin32==220
PyYAML==3.11
pyzmq==16.0.0
qtconsole==4.2.1
requests==2.13.0
rsa==3.1.2
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
shiboken==1.2.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.17
six==1.10.0
snowballstemmer==1.2.1
ssl-match-hostname==3.4.0.2
supplement==0.5.dev0
sympy==1.0
tabulate==0.7.3
testpath==0.2
tornado==4.2.1
traitlets==4.3.2
traits==4.6.0
traits-enaml==0.2.1
traitsui==5.1.0
tzlocal==1.2
wcwidth==0.1.7
widgetsnbextension==2.0.0
win-unicode-console==0.5
wxPython==2.8.10.1
zeromq==4.1.3
zipfile2==0.0.12
